html 

    head
        title #{title}
    
    body
        
        form(action="/mission/new/" method="POST") 
        
            label Name 
            input(name="name" type="text") 
            
            label Project (Current: #{currentProject}) 
            select(name="project")
                each project in projects 
                    if(project.slug == currentProject)
                        option(value="#{project.name}" selected) #{project.name}
                    else
                        option(value="#{project.name}") #{project.name}
            
            label Epic
            input(name="epic" type="text")
            
            label Type
            select(name="type")
                option(value="task" selected) Task
                option(value="bug") Bug
                option(value="story") Story
                option(value="ideation") Ideation
                option(value="research") Research
            
 
            label Priority
            select(name="priority") 
                each priority in priorities 
                    if(priority == "medium")
                        option(value="#{priority}" selected) #{priority} 
                    else
                        option(value="#{priority}") #{priority} 
                            
            .field-group
                label Assigned
                select.small(name="assigned") 
                    each assigned in users
                        option(value="#{assigned}") #{assigned}
            
            input(type="submit" value="Submit") 
 
