form(action="/mission/update/" method="POST")

    label Name 
    input(name="name" type="text" value="#{mission.name}")
    br
    
    label Previous Name 
    input(name="absName" type="text" value="#{mission.name}") 
    br
    
    label Complete
    input(type="radio" name="complete" value="true")
    | True
    input(type="radio" name="complete" value="false" checked)
    | False
    br
    
    label Project
    select(name="project")
        each list in projectList
            if(list.name == project.name)
                option(value="#{list.name}" selected) #{list.name}
            else
                option(value="#{list.name}") #{list.name}
    br
    
    label Epic
    input(name="epic" type="text" value="#{mission.epic}") 
    br
    
    label Type
    select(name="type")
        each type in types
            if(type == mission.type)
                option(value="#{type}" selected) #{type}
            else 
                option(value="#{type}") #{type}        
    br
    
    
    label Desc 
    input(name="desc" type="text" value="#{mission.desc}")
    br


    label Priority
    select(name="priority") 
        each priority in priorities
            if(priority == mission.priority)
                option(value="#{priority}" selected) #{priority} 
            else
                option(value="#{priority}") #{priority} 
    br
    
                
    label Workflow
    select(name="workflow") 
        each state in workflow 
            if(state == mission.workflow)
                option(value="#{state}" selected) #{state} 
            else
                option(value="#{state}") #{state}
    br            
    
    
    label Assigned
    select(name="assigned") 
        each assigned in users
            if(assigned == mission.assigned)
                option(value="#{assigned}" selected) #{assigned} 
            else
                option(value="#{assigned}") #{assigned} 
    br
    
    input(type="submit" value="Submit") 
