
.row

    nav.breadcrumbs
        ol
            li
                a(href="/projects/"): span Projects
                | &#8250;
            li
                a(href="/#{mission.projectSlug}/"): span #{mission.project}

    h1.title.primary.pull-left #{mission.name}
        if(mission.complete)
            span.secondary.ghost  - Completed!
        else
            span.secondary.ghost  - #{mission.workflow}
    
    .col.no-padding
        p A <strong>#{mission.type}</strong> with <strong>#{mission.priority}</strong> priority
            
            if(mission.epic)
                |  that contributes
                br
                |  to the completion of&nbsp;
                strong: a(href="/#{mission.projectSlug}/#{mission.epicSlug}/") #{mission.epic}
            | .
    
.row.row-ratio

    if(mission.info.summary)
        | !{mission.info.summary}
    
.row
    
    div #{mission.key}
    div #{mission.assigned}
    
    if(mission.info.summary)
        div Summary !{mission.info.summary}
        div SummaryMD #{mission.info.summaryMD}
        
.row: .col.no-padding

    include _partials/comment
