extend ../_layouts/standard.jade

block content 

    div #{mission.name}
    div #{mission.slug}
    div #{mission.project}
    div #{mission.epic}
    div #{mission.type}
    div #{mission.desc}
    div #{mission.priority}
    div #{mission.workflow} 
    div #{mission.assigned} 
