extend ../_layouts/standard.jade

block content

    .cover: .container.fluid
    
        .row: .col
            span.btn.pull-right(panel="standard" panel-target="#mission-edit") Edit Mission
            
        .row
            
            div #{mission.key}
            div #{mission.name}
            div #{mission.slug}
            div Complete: #{mission.complete}
            div #{mission.project}
            div Slug: #{mission.projectSlug}
            div #{mission.epic}
            div #{mission.type}
            div !{mission.summaryParsed}
            div #{mission.summaryMarkdown}
            div #{mission.priority}
            div #{mission.workflow} 
            div #{mission.assigned}
                
    
    #mission-edit.panel-aside
        span.btn.close(panel="standard" panel-target="#mission-edit")
        
        include _partials/edit
    
