.cover.light: .container

    form(action="/mission/update/" method="POST")
    
        // Hidden values
        
        input.sr(name="id" value="#{mission.id}")
    
        
        .row.row-ratio
            .col
                .field-group
                    label Name 
                    input.full(name="name" type="text" value="#{mission.name}")
        
                .field-group
                    label Summary
                    textarea.full(name="summaryMD" type="text" rows="2") #{mission.info.summaryMD}
                        
                .field-group
                    label Description
                    textarea.full(name="descriptionMD" type="text" rows="4") #{mission.info.descriptionMD}
                    
                        
            .col
            
                .field-group
                    label Project
                    select.full(name="project")
                        each list in projects
                            if(list.name == mission.project)
                                option(value="#{list.name}" selected) #{list.name}
                            else
                                option(value="#{list.name}") #{list.name}
                                
                .field-group
                    label Priority
                    select.full(name="priority") 
                        each priority in priorities
                            if(priority == mission.priority)
                                option(value="#{priority}" selected) #{priority} 
                            else
                                option(value="#{priority}") #{priority}
            
                .field-group    
                    label Type
                    select.full(name="type")
                        each type in types
                            if(type == mission.type)
                                option(value="#{type}" selected) #{type}
                            else 
                                option(value="#{type}") #{type}
                                
                .field-group
                    label Assigned
                    select.full(name="assigned") 
                        each assigned in users
                            if(assigned == mission.assigned)
                                option(value="#{assigned}" selected) #{assigned} 
                            else
                                option(value="#{assigned}") #{assigned}
        
                .field-group    
                    label Epic
                    input.full(name="epic" type="text" value="#{mission.epic}") 
                    
                .field-group
                    if(mission.complete)
                        input#edit-complete(type="checkbox" name="complete" value="true" checked)
                    else
                        input#edit-complete(type="checkbox" name="complete" value="true") 
                    label(for="edit-complete") Complete     
                
            
                .field-group    
                    label State
                    select.full(name="workflow")
                        each state in workflow 
                            if(state == mission.workflow)
                                option(value="#{state}" selected) #{state} 
                            else
                                option(value="#{state}") #{state}
                                
        .row: .col
            input.btn.primary(type="submit" value="Update Mission")
            input.btn.ghost.pull-right(type="submit" value="Delete Mission")
            
    form(action="/mission/delete/" method="POST")
        input.sr(name="name" value="#{mission.name}") 
        input.sr(name="slug" value="#{mission.slug}") 
        input.sr(name="projectSlug" value="#{mission.projectSlug}")
        input.btn.ghost.pull-right(type="submit" value="Real (temp) Delete Mission")
    
