li.mission(
    id="#{mission.slug}"
    class="#{mission.priority}"
    data-id="#{mission.id}")

    a.user(href="#")
        img(
        src="http://placehold.it/100x100"
        alt="#{mission.assigned}"
        title="#{mission.assigned}")
    
    h3.title #{mission.name}
    
    .meta
        small.type #{mission.type}
        a(
            href="/#{project.slug}/missions/#{mission.slug}/edit/"
        ).edit.icon-settings &nbsp;
        
    a.faux(href="/#{project.slug}/missions/#{mission.slug}/")
