if(missions[0]) 
    .cover: .container.fluid: .row.row-inline._4
        h2.sr Kanban
        .workflow
            each item in manifest
                if(item.name !== "backlog")
                    .col 
                        h2.heading #{item.name}
                            small  (#{item.limit})
                        ul.workflow-column(data-workflow="#{item.name}" data-limit="#{item.limit}")
                            each mission in item.missions
                                include ../../mission/_partials/ticket 
                        .cover 
                                    
                                    
    .cover: .container.fluid: .row
        h2.title Mission Backlog 
        each item in manifest
            if(item.name == "backlog")
                ul.workflow-column.wide.no-padding(data-workflow="#{item.name}" data-limit="#{item.limit}")
                    each mission in item.missions
                        include ../../mission/_partials/ticket 
        
                
                
